html, body { 
  height: 100%; 
  width: 100%; 
  background-color: #2a9d8f; 
  margin: 0px; 
  

} 

nav { 
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#signInBtn { 
  display: block;
  cursor: pointer;
}

#signOutBtn { 
  display: none;
  cursor: pointer;
}

#header { 
  display: flex; 
  justify-content: center; 
  padding-top: 20px; 
  font-family: "Abril Fatface","Courier New", Courier, monospace;
  font-size: 75px;
  font-weight: bold;  
  letter-spacing: 5px;
  color: black; 
  margin-bottom: 50px;
}

#container {  
  display: flex;  
  flex-wrap: wrap;
  gap: 10px; 
  justify-content:center; 
  padding: 0px 50px 50px 50px; 
  margin-left: 120px;
} 

.books { 
  display: flex; 
  flex-direction: column;
  background-color: #f4a261;  
  border: 5px black solid; 
  border-radius: 5%; 
  padding: 20px 20px 0px 20px;
  gap: 5px; 
  min-height: 300px;
  min-width: 185px; 
  max-width: 185px; 
  max-height: 300px;
}   

#title, #pages { 
  font-size: 15px;
}

#bookForm, form {  
  background-color: #e76f51; 
  font-family: "Abril Fatface","Courier New", Courier, monospace; 
  max-width: fit-content; 
  padding: 15px; 
  border-radius: 15px;  
  position: fixed;
  top: 171px; 
  border: 5px solid black; 
  margin-left: 10px;
} 

#submit { 
  font-family: "Abril FatFace","Courier New", Courier, monospace; 
  background-color: #e9c46a; 
  border-radius: 15px; 
  margin-top: 10px; 
  padding: 5px; 
  width: 75px;
}  

#remove { 
    max-width: fit-content; 
    font-family: "Abril FatFace","Courier New", Courier, monospace; 
    padding: 5px;
    border: 3px #264653 solid;
    border-radius: 5px;
    background-color: #e76f51; 
    margin-left: auto;
}  



#read { 
  min-width: 10.77mm; 
  font-family: "Abril FatFace","Courier New", Courier, monospace; 
  padding: 5px;
  border: 3px #264653 solid;
  border-radius: 5px;
  background-color: #e76f51; 
  margin-right: auto;
} 

#readButton { 
  max-width: fit-content; 
  font-family: "Abril FatFace","Courier New", Courier, monospace; 
  padding: 5px;
  border: 3px #264653 solid;
  border-radius: 5px;
  background-color: #e9c46a; 
  margin-left: auto; 
  margin-top: 10px;

}

input { 
  font-family: "Abril FatFace","Courier New", Courier, monospace; 
  border-radius: 15px; 
  padding-left: 5px; 
  padding-top: 5px; 
  padding-bottom: 5px;
}

.main { 
  display: flex; 
  flex-direction: column-reverse; 
  gap: 50px;
} 

#main2 { 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  min-height: 100vh;
}

footer { 
  font-size: 25px; 
  background-color: #e76f51; 
  color: white; 
  text-align: center;
  padding-top: 15px; 
  padding-bottom: 15px;
}


#remove:hover {background-color: red} 
#remove:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px); 
} 

#read:hover {background-color: #2a9d8f} 
#read:active {
  background-color: #2a9d8f;
  box-shadow: 0 5px #666;
  transform: translateY(4px); 
}


